
 <div class= "background">
  <div class= "parent"> 
    <%= form_with url: "/posts", method: :post, local: true do |form| %>
      <%= form.text_field :content,class: "input-content" %>
      <%= form.submit 'post',class:"posts-button" %>
     
    <% end %>
  </div>   
  
     <div class="child">
     <% @posts.each do |post| %>
       <div class="post">
         <div class="post-content">
           <%= post.content %>
         </div>
       </div>
     <% end %>
    </div>
  </div>


 
